@charset "utf-8";
*{
	box-sizing: border-box;
	margin: 0;
	gap: 0;
}
header > div{
	/*border: 1px solid black;*/
	background-color: gray;
	height: 120px;
	float: left;
	text-align: center;
	padding-top: 30px;
	font-size: 150%;
	box-sizing: border-box;
	margin-bottom: 90px;
	margin-top: 5px;
	margin-block: 15px;
}
header{
	background-color: lightcyan;
	height: 160px;
	width: 100%;
}
#Logo{
	width: 23.5%;
	box-sizing: border-box;
	margin-left: 40px;
}
#Menu{
	width: 47%;
	box-sizing: border-box;
}
#Login{
	width: 23.5%;
	box-sizing: border-box;
	margin-right:20px;
}


#titulo, #imagem{
	/*border: 1px solid black;*/
	height: 200px;
	width: 47.5%;
	background-color: gray;
	float: left;
	padding-top: 70px;
	text-align: center;
	/*margin-top: 33px;*/
	box-sizing: border-box;
	font-size: 150%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-block: 17px;
}
#titulo{
	margin-left:30px ;
}
#imagem{
	margin-right: 30px;
}
#Banner{
	width: 100%;
	height: 250px;
	background-color: lightgray;
}


#s1, #s2, #s3{
	/*border: 1px solid black;*/
	background-color: gray;
	height: 130px;
	width: 30%;
	float: left;
	padding:50px;
	text-align: center;
	box-sizing: border-box;
	margin: 20px;
	margin-block: 30px;
	font-size: 20px;
}
#conteudo{
	background-color: yellow;
	height: 200px;
}

#clear{
	clear: both;
}

footer{
	display: flex;
	background-color: black;
	height: 128px;
	gap: 15px;
}
#r1, #r2, #r3, #r4{
	/*border: 1px solid black;*/
	height: 80px;
	width: 25%;
	background-color: gray;
	color: white;
	padding: 20px;
	float: left;
	text-align: center;
	box-sizing: border-box;
	margin: 15px;
	margin-block: 20px;
	font-size: 20px;	
}
