@charset "utf-8";
*{
	box-sizing: border-box;
	margin: 0;
}
#Logo, #Login, #Menu{
	/*border: 1px solid black;*/
	background-color: gray;
	height: 120px;
	float: left;
	text-align: center;
	box-sizing: border-box;
	padding-top: 30px;
	font-size: 150%;
	box-sizing: border-box;
}
#Logo, #Login{
	width: 25%;
}
#Menu{
	width: 50%;
}
main{
	clear: both;
}
#titulo, #imagem{
	/*border: 1px solid black;*/
	height: 250px;
	width: 50%;
	background-color: gray;
	float: left;
	padding-top: 70px;
	text-align: center;
	margin-top: 40px;
	box-sizing: border-box;
	font-size: 150%;
	
}
#Banner{
	width: 100%;
	height: 400px;
	background-color: lightgray;
}
main{
	clear: both;
}
#s1, #s2, #s3{
	border: 1px solid black;
	background-color: gray;
	height: 100px;
	width: 33.3%;
	float: left;
	padding:30px;
	text-align: center;
	box-sizing: border-box;
}
#conteudo{
	background-color: lightcyan;
	height: 100px;
}
#f1, #f2, #f3, #f4{
	border: 1px solid black;
	height: 100px;
	width: 25%;
	background-color: grey;
	color: white;
	padding: 20px;
	float: left;
	text-align: center;
	box-sizing: border-box;
}
footer{
	background-color: black;
	height: 20%;
	width: 100%;
}